.Cart_button {
     
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color:#198754;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
  }