
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

.container-style {
  height: 50vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.container-title{
    position: absolute;
    max-width: 50%;
    top: 50px;
    left: 50px;
    padding: 50px;
    background-color: transparent;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.373), 0 1px 0 0 rgba(0, 0, 0, 0.3);
    z-index: 1;
    border-radius: 10px;
}
.container-title h1 {
  font-family: 'Bungee Spice', sans-serif;
  text-shadow: 3px 5px 2px black;
}
.particles-background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('../../img/cool-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* Ajusta el z-index según sea necesario */
}

#tsparticles {
  width: 100%;
  height: 100%;
  position: relative;
   /* Asegura que las partículas estén por encima del fondo */
}
