*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.notStyleLink{
  text-decoration: none;
  color: black;
}

.vh-25 {
  height: 25vh;
}
.vh-30 {
  height: 30vh;
}
.vh-50 {
  height: 50vh;
}
.vh-75 {
  height: 75vh;
}
.min-vh-75 {
  min-height: 75vh;
}

.vw-25 {
  width:25vw;
}
.vw-30 {
  width:30vw;
}
.vw-50 {
  width:50vw;
}
.vw-75 {
  width:75vw;
}
.min-vw-75 {
  min-width:75vw;
}